@media (max-width:940px){
    body{
        overflow-y: scroll;
        height: 210vh;
    }
.lfr{
    display:  map-get($display, "display4");
    position: map-get($position, "position1");
}
  .z{
    display:  map-get($display, "display7");
  }  
  .ico{
      display:  map-get($display, "display1");
     position: map-get($position, "position1");
      text-align: right;
      right: 10vw;
      top: -7vh;
      z-index: 100;
      font-size: 1.5em;
    p{
        color: $pcolor;
        font-size: 0.8em;

    }

     
  }
  .leftbar{
    position: map-get($position, "position2");;
    height: fit-content;
    width: 50vw;
    right: -40px;
    font-size: 1.2em;
    margin-top: 5vh;
    padding-top: 10px;
    transition: 3s;
    z-index: 100;
    box-shadow: 0 0 5px $victor;
    background-color: $pricolor;
    p{
        padding: 10px;
        margin: 0 0 0 5px;
        display:  map-get($display, "display1");
    }
  }
  .rightbar{
     position: map-get($position, "position1");
      align-items: center;
      margin-bottom: 30vh;

      .right{
          position: map-get($position, "position2");
          width: 80vw;
      }
  }
  .form{
      position: map-get($position, "position2");
      margin: 0 auto;
      width: 100vw;
      height: 90vh;
  }
  .alert{
    position: map-get($position, "position2");
    margin-left: -1.6em;
    width: 90vw;

  }
  .navbar{
    position: map-get($position, "position2");
      display:  map-get($display, "display4");
      z-index: 1;
      border: 0;
      width: 100vw;
  }
  .hac{
      position: map-get($position, "position2");
      margin: 0 auto;
  }
  .snav{
    display:  map-get($display, "display4");
  }
  .nam{
     position: map-get($position, "position1");
      top: 1vh;
      right: 5vh;
      margin-right: 1em;
  }
  .search{
    position: map-get($position, "position2"); 
    text-align: center;
  }
  .pic{
      position: map-get($position, "position2");
  }
 
}